h1 {
	text-align:center;
	color: #EACC57;
	font-family: sans-serif; 
	font-size: 58px;
	font-style: italic;
	text-shadow: 3px 3px black;
}

body {
	background-color: #5D0B66;
}

div {
	color: #EACC57;
	font-style: oblique;
}
a:link {color: #EACC57; /*unvisited link*/
	text-decoration: none; /*removes underline*/
}
a:visited {
	color: #EACC57; /*visited link*/
	text-decoration: none;
}
a:hover {
	color: yellow; /*mouse over link*/
	text-decoration: underline; /*adds underline*/
}
a:active {
	color: blue; /*selected link*/
	text-decoration: underline;
}
#tutor {
	text-shadow: 2px 2px black;
}
#schedule {
	text-shadow: 2px 2px black;
}
#email {
	text-align: center;
	position:absolute;
	bottom: 0;
	left:40%;
	margin-left:-125;
	text-shadow: 2px 2px black;
}
#social {
	height: 80px;
	width: 100px;
	border: 2px solid blue;
	border-radius: 15px;
	position: absolute;
	right: 0;
	text-align: center;
	color: #0033ff;
	background-color: #e0e0e0;
}
#fb {
	height: 30px;
	width: 20px;
}
#pic.pos_left{
	position:relative;
	left: -20px;
}
#pic.pos_right{
	position: relative;
	left: 20px;
}